<?xml version="1.0" encoding="UTF-8"?>
<simulation>
	<!-- What's the name of the world being simulated? -->
	<worldname>Glasgow University Medical Campus</worldname>
	<!-- What are the calibration coordinates associated to the 
		background map? Use decimal degrees. You need to provide the coordinates
		for the top right, bottom left and bottom right corners.
		Hint: http://www.fcc.gov/mb/audio/bickel/DDDMMSS-decimal.html  -->
	<calibration>
		<topright    latitude="49.003535" longitude="8.006958"/>
		<bottomright latitude="49.003535" longitude="8.006958"/>
		<bottomleft  latitude="49.003410"  longitude="8.006800"/>
	</calibration>
	<!-- How many seconds does each simulation iteration represent-->
	<iterationstep>10</iterationstep>
	<!-- Simulation time at startup (World creation date) -->
	<starttime>
		<year>2009</year>
		<month>1</month>
		<day>1</day>
		<hour>6</hour>
		<minute>0</minute>
	</starttime>
	<!-- Relative path to the sprites (movable characters) in the simulation.
		Suggestion: choose a size that fits your population -->
	<spritepath>sprites/19x11</spritepath>
	<!-- Models to employ. The Empty models do nothing. Please ensure 
		that the class you specify is in the classpath -->
	<!-- What are the classes that model the behaviour of agents, the world 
	and context? -->
	<models>
		<agentmodel>de.nec.nle.siafu.glasgow.AgentModel</agentmodel>
		<worldmodel>de.nec.nle.siafu.glasgow.WorldModel</worldmodel>
		<contextmodel>de.nec.nle.siafu.glasgow.ContextModel</contextmodel>
	</models>
	<!-- For each overlay, what is the tag the simulator should associate to the 
		pixel value? -->
	<overlays>
		<InMarket type="binary" thresholdvalue="1000"/>
		<InHotel	  type="binary" thresholdvalue="1000"/>
		<InDisco	  type="binary" thresholdvalue="1000"/>
		<WiFiHotspot  type="discrete">
			<threshold tag="OutOfRange" pixelvalue="3355443"/>
			<threshold tag="VeryWeak" pixelvalue="6710886"/>
			<threshold tag="Weak" pixelvalue="10066329"/>
			<threshold tag="Strong" pixelvalue="13421772"/>
			<threshold tag="VeryStrong" pixelvalue="16777215"/>
		</WiFiHotspot>
		<Temperature  type="discrete">
			<threshold tag="cold" pixelvalue="3355443"/>
			<threshold tag="chilly" pixelvalue="6710886"/>
			<threshold tag="comfortable" pixelvalue="10066329"/>
			<threshold tag="warm" pixelvalue="13421772"/>
			<threshold tag="hot" pixelvalue="16777215"/>
		</Temperature>
		<CrimeRate type="discrete">
			<threshold tag="safe" pixelvalue="3355443"/>
			<threshold tag="low" pixelvalue="6710886"/>
			<threshold tag="average" pixelvalue="10066329"/>
			<threshold tag="high" pixelvalue="13421772"/>
			<threshold tag="dangerous" pixelvalue="16777215"/>
		</CrimeRate>
	</overlays>
</simulation>
