<?xml version="1.0" encoding="UTF-8"?>
<simulation>
	<!-- What's the name of the world being simulated? -->
	<worldname>TestLand</worldname>
	<!-- What are the calibration coordinates associated to the 
		background map? Use decimal degrees. 
		Hint: http://www.fcc.gov/mb/audio/bickel/DDDMMSS-decimal.html  -->
	<calibration>
		<topright    latitude="81.6" longitude="9"/>
		<bottomright latitude="-5" longitude="10.98"/>
		<bottomleft  latitude="-20"  longitude="-15"/>
	</calibration>
	<!-- How many seconds does each simulation iteration represent-->
	<iterationstep>30</iterationstep>
	<!-- Simulation time at startup (World creation date) -->
	<starttime>
		<year>3000</year>
		<month>1</month>
		<day>1</day>
		<hour>6</hour>
		<minute>0</minute>
	</starttime>
	<!-- Relative path to the sprites (movable characters) in the simulation.
		Suggestion: choose a size that fits your population -->
	<spritepath>res/sprites/19x11</spritepath>
	<!-- Models to employ. The Empty models do nothing. Please ensure 
		that the class you specify is in the classpath -->
	<!-- What are the classes that model the behaviour of agents, the world 
	and context? -->
	<models>
		<agentmodel>de.nec.nle.siafu.testland.AgentModel</agentmodel>
		<worldmodel>de.nec.nle.siafu.testland.WorldModel</worldmodel>
		<contextmodel>
			de.nec.nle.siafu.testland.ContextModel
		</contextmodel>
	</models>
	<!-- For each overlay, what is the tag the simulator should associate to the 
		pixel value? -->
	<overlays>
		<AtCenter type="binary" thresholdvalue="1000"/>
		<AtStart  type="binary" thresholdvalue="8000000"/>
		<Temperature  type="discrete">
			<threshold tag="cold" pixelvalue="3355443"/>
			<threshold tag="chilly" pixelvalue="6710886"/>
			<threshold tag="comfortable" pixelvalue="10066329"/>
			<threshold tag="warm" pixelvalue="13421772"/>
			<threshold tag="hot" pixelvalue="16777215"/>
		</Temperature>
		<Cell-ID type="real"/>
	</overlays>
</simulation>
